/*

Local variables

*/

// $enable-gradients: true;
// $enable-rounded: true;
// $enable-shadows: true;

// Main colors

$primary: #005CB3;
$secondary: #99CEFF;

// Font: Noto Sans

$td-enable-google-fonts: true;

$google_font_name: "Noto Sans";
$google_font_family: "Noto+Sans:300,300i,400,400i,700,700i";
$web-font-path: "https://fonts.googleapis.com/css?family=#{$google_font_family}";