---
title: About
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="Babelish is..." image_anchor="bottom" height="max" >}}

<p class="lead mt-5">... a resource for language students
</p>

{{< /blocks/cover >}}

{{% blocks/lead color="dark"%}}
Information technologies influence almost every aspect of your work in languages. 

In your writing and research, you will find yourself using computers and online tools more and more extensively.

 This site documents some of the ways in which you can use these resources productively.
{{% /blocks/lead %}}

{{% blocks/section color="bg-light" %}}
<p class="lead mt-5">Today, information technologies make a wide range of tools and resources available. A computer thus supports you in many aspects of your work. Here, you can explore further how you can use these tools both in your research and language learning, and in the work that you yourself will produce.</p>
  
  <p class="lead mt-5">This documentation is divided into eleven sections. You can read through all of these in sequence, or concentrate on individual parts as the need arises. You will also find template files that you can use in your own work and also advice you can follow if you become interested in establishing your own online profile by creating your own web domain. 
</p>
{{% /blocks/section %}}



